.perfil-superior {
    position: relative;
    width: 100%;
    height: 40vh; /* 40% da altura da viewport */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 60px; /* Espaçamento inferior */
    margin-bottom: 150px;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  .ajustes{
    z-index: 1;
    width: 100%;
    position: relative;
    bottom: -180px;
  }
  
  .perfil-imagem {
    z-index: 2;
    position: absolute;
    bottom: -150px; /* Metade da altura da imagem para centralizar */
    border: 5px solid white; /* Borda branca */
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  
  .perfil-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .perfil-info {
    margin-top: 60px; /* Espaço acima da informação de perfil */
    text-align: center;
  }
  
  .perfil-info h2 {
    margin: 10px 0 5px;
  }
  
  .perfil-info p {
    margin: 0;
  }
  
  @media only screen and (max-width: 600px) {

    .perfil-imagem {
      width: 200px;
      height: 200px;
      bottom: 80px;
    }
    
  }